@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-baby-pink-light text-gray-800;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-display;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

